# rpc url of the blockchain on which contracts are to be deployed
DEPLOY_ON = local | cloud | devnet

// secp256k1 account seed
DEPLOYER_SEED = royal reopen journey royal enlist vote core cluster shield slush hill sample

## Optional parameters
# provide if running `yarn deploy:market`, the provided market will be deployed
MARKET = ETH-PERP
