[
    {
        "packageObjectId": "",
        "module": "perpetual",
        "events": [
            "PerpetualCreationEvent",
            "SettlementOperatorUpdateEvent",
            "MinOrderPriceUpdateEvent",
            "AccountPositionUpdateEvent",
            "OraclePriceUpdateEvent"
        ]
    }
]